{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="hero-carousel">
    <div class="row post-carousel-featured post-carousel">
        <!-- post -->
        {% for top_post in top_post %}
        <div class="post featured-post-md">
            <div class="details clearfix">
                <a href="{% url 'category' top_post.category.slug %}" class="category-badge">{{ top_post.category }}</a>
                <h4 class="post-title"><a href="{% url 'single' top_post.category.slug top_post.slug %}">
                        {{top_post.title}}</a></h4>
                <ul class="meta list-inline mb-0">
                    <li class="list-inline-item">{{ top_post.create_date | date:'d M y' }}</li>
                </ul>
            </div>
            <a href="{% url 'single' top_post.category.slug top_post.slug %}">
                <div class="thumb rounded">
                    <div class="inner data-bg-image" data-bg-image="{{ top_post.images.url }}"></div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</section>

<!-- section main content -->
<section class="main-content">
    <div class="container-xl">

        <div class="row gy-4">

            <div class="col-lg-8">

                <div class="row gy-4">
                    {% for post in post %}
                    <div class="col-sm-6">
                        <!-- post -->
                        <div class="post post-grid rounded bordered">
                            <div class="thumb top-rounded">
                                <a href="{% url 'category' post.category.slug %}"
                                    class="category-badge position-absolute">{{ post.category }}</a>
                                <!-- <span class="post-format">
                                    <i class="icon-picture"></i>
                                </span> -->
                                <a href="{% url 'single' post.category.slug post.slug %}">
                                    <div class="inner">
                                        <img src="{{ post.images.url }}" alt="post-title" />
                                    </div>
                                </a>
                            </div>
                            <div class="details">
                                <ul class="meta list-inline mb-0">
                                    <li class="list-inline-item">{{ post.create_date | date:'d M y' }}</li>
                                </ul>
                                <h5 class="post-title mb-3 mt-3"><a
                                        href="{% url 'single' post.category.slug post.slug %}">{{post.title}}</a>
                                </h5>
                                <p class="excerpt mb-0">{{ post.description | slice:":100" }}</p>
                            </div>
                            <div class="post-bottom clearfix d-flex align-items-center">
                                <div class="social-share me-auto">
                                    <button class="toggle-button icon-share"></button>
                                    <ul class="icons list-unstyled list-inline mb-0">
                                        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a>
                                        </li>
                                        <li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a>
                                        </li>
                                        <li class="list-inline-item"><a href="#"><i
                                                    class="fab fa-telegram-plane"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="far fa-envelope"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="more-button float-end">
                                    <a href="{% url 'single' post.category.slug post.slug %}"><span
                                            class="icon-options"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <nav>
                    {% if post.has_other_pages %}
                    <ul class="pagination justify-content-center">
                        {% for i in post.paginator.page_range %}
                        {% if post.number == i %}
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">{{i}}</span>
                        </li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                </nav>

            </div>
            <div class="col-lg-4">

                <!-- sidebar -->
                <div class="sidebar">
                    <!-- widget advertisement -->
                    <!-- {% for banner1 in banner1 %} -->
                    <div class="widget no-container rounded text-md-center">
                        <span class="ads-title">- Sponsored Ad -</span>
                        <a href="{{ banner1.link }}" class="widget-ads">
                            <img src="{{ banner1.banner.url }}" alt="Advertisement" />
                        </a>
                    </div>
                    <!-- {% endfor %} -->
                    <!-- widget popular posts -->
                    <div class="widget rounded">
                        <div class="widget-header text-center">
                            <h3 class="widget-title">Popular Posts</h3>
                            <img src="{% static 'images/wave.svg' %}" class="wave" alt="wave" />
                        </div>
                        <div class="widget-content">
                            <!-- post -->
                            {% for popular in popular %}
                            <div class="post post-list-sm">
                                <!-- <div class="thumb circle">
                                    <a href="{% url 'single' popular.category.slug popular.slug %}">
                                        <div class="inner">
                                            <img src="{{ popular.images.url }}" alt="{{ popular.title }}" />
                                        </div>
                                    </a>
                                </div> -->
                                <div class="details clearfix">
                                    <h6 class="post-title my-0"><a
                                            href="{% url 'single' popular.category.slug popular.slug %}">
                                            {{ popular.title }}</a></h6>
                                    <ul class="meta list-inline mt-1 mb-0">
                                        <li class="list-inline-item">{{ popular.create_date | date:'d M y' }}</li>
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- widget categories -->
                    <!-- <div class="widget rounded">
                        <div class="widget-header text-center">
                            <h3 class="widget-title">Explore Topics</h3>
                            <img src="{% static 'images/wave.svg' %}" class="wave" alt="wave" />
                        </div>
                        <div class="widget-content">
                            <ul class="list">
                                <li><a href="#">Lifestyle</a><span>(5)</span></li>
                                <li><a href="#">Inspiration</a><span>(2)</span></li>
                                <li><a href="#">Fashion</a><span>(4)</span></li>
                                <li><a href="#">Politic</a><span>(1)</span></li>
                                <li><a href="#">Trending</a><span>(7)</span></li>
                                <li><a href="#">Culture</a><span>(3)</span></li>
                            </ul>
                        </div>

                    </div> -->

                    {% for banner2 in banner2 %}
                    <div class="widget no-container rounded text-md-center">
                        <span class="ads-title">- Sponsored Ad -</span>
                        <a href="{{ banner2.link }}" class="widget-ads">
                            <img src="{{ banner2.banner.url }}" alt="Advertisement" />
                        </a>
                    </div>
                    {% endfor %}



                </div>

            </div>

        </div>

    </div>
</section>
{% endblock %}